header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-height: 25rem;
  min-width: 25rem;
  background-color: #bc8f8f;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  margin-block: 3rem;
  margin-inline: 4rem;
}
