header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  max-height: 45vh;
  min-width: 17vw;
  background-color: #bc8f8f;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  margin-top: 12rem;
  margin-inline: auto;
}
